# Google OAuth Credentials
GOOGLE_CLIENT_ID=904453212359-572o9nf92a66i8nr61ct93f9f59om413.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
APP_URL=https://ais-dev-zhgxgb7kpsum3eeghrqs72-391138353793.asia-southeast2.run.app/auth/google/callback.run.app

# Firebase Config (Optional if using environment variables)
# FIREBASE_API_KEY=AIzaSyBI6pycdCHZ8nOfk3QliM3K-LJTOiSnyiE
# FIREBASE_PROJECT_ID=silks-bb4d8
