# Google OAuth Credentials
GOOGLE_CLIENT_ID=904453212359-572o9nf92a66i8nr61ct93f9f59om413.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
APP_URL=https://ais-dev-zhgxgb7kpsum3eeghrqs72-391138353793.asia-southeast2.run.app/auth/google/callback.run.app

# Firebase Config (Client-side)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_STORAGE_BUCKET=
